@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border-top-color: #9ca3af; /* The color of your spinner */
  animation: spin 1s linear infinite;
}

@layer components {
  .landing-page-gradient-1 {
    background-color: hsla(0,0%,100%,1);
    background-image:
      radial-gradient(at 21% 11%, hsla(240, 100%, 21%, 0.53) 0px, transparent 90%),
      radial-gradient(at 85% 0%, hsla(262, 87%, 6%, 0.52) 0px, transparent 90%),
      radial-gradient(at 91% 36%, hsla(221, 84%, 7%, 0.68) 0px, transparent 90%),
      radial-gradient(at 8% 40%, hsla(322, 91%, 34%, 0.46) 0px, transparent 90%);
  }
}