@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border-top-color: #9ca3af; /* The color of your spinner */
  animation: spin 1s linear infinite;
}

@layer components {
  .landing-page-gradient-1 {
    background-color: rgb(138, 138, 138);
    background-image: url('/b2b2-kg.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  

  .landing-page-header-image {
    background-color: none; 
    /* background-image: url("https://lh4.googleusercontent.com/pDDVhXFjl4S9KZC3sWgQyGnvFbDnDupvcNgcm2VyXi_XG-JSGipxbKDwzVndPXYTXV1Cb9HCDr-DKUTiKK-tYW4=w16383");
    background-size: contain; */
  }

  .bg-sea-blue {
    background-color: #1f3850;
  }
}

.react-flow__node-custom {
  padding: 10px;
  background-color: #556677;
  color: white;
}
