@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border-top-color: #9ca3af; /* The color of your spinner */
  animation: spin 1s linear infinite;
}

@layer components {
  .landing-page-gradient-1 {
    /* background-image: url('/b2b2-kg.png'); */
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bg-sea-blue-light {
    background-color: #7cc0d8;
  }

  .bg-sea-blue-dark {
    background-color: #134b5f
  }
}

.react-flow__node-custom {
  padding: 10px;
  background-color: #5ccf963d;
  color: white;
}
